html, body, #map {
	height: 100%;
	width: 100%;
}

	body {
	font-family: sans-serif;
	background-color: #D4EDF7;
	margin: 0;
	padding: 0;
	}

 #bar {
	 width: 250px;
	 float: left;
	 background-color: #347B98;
	 border-radius: 15px;
	 text-align: center;
	 margin-top: 15px;
	 margin-left: 15px;
	 height: 350px;
	 z-index: 10;
	 position: absolute;
 }

 #infoBar {
	width: 250px;
	float: left;
	background-color: #347B98;
	border-radius: 15px;
	text-align: center;
	margin-top: 375px;
	margin-left: 15px;
	height: 20px;
	padding-top: 8px;
	padding-bottom: 5px;
	color: white;
	font-size: 90%;
	z-index: 10;
	position: absolute;
 }

	#map {
	 z-index: 1;
	 position: absolute;
	}

	#controls {
		height: 90px;
		background-color: #347B98;
    border-radius: 15px;
		text-align: center;
		padding-top: 15px;
	}

h1 {
	font-family: 'Alfa Slab One';
	letter-spacing: 2px;
	margin-bottom: 5px;
  color: #341809;
	font-weight: 100;
	margin-top: 0;
}

h2 {
	font-family: 'Alfa Slab One';
	margin-top: 5px;
	color: #B84E14;
	font-weight: 100;
}

ul {
	list-style-type: none;
	padding-left: 0;
	line-height: 25px;
}

h3 {
	margin-top: 0;
}

.zoomButtons {
	list-style-type: none;
	background-color: white;
	font-size: 18px;
	text-align: center;
	border-radius: 5px;
}

.buttons {
	margin: 0;
	line-height: normal;
}

.buttons > li {
	border: 1px solid gray;
	padding: 4px;
}

.buttons > li:hover {
	background-color: grey;
}

.buttons > .home {
	border-top: 0px;
	border-bottom: 0;
}

.leaflet-right .leaflet-control {
	float: none;
	display: inline-block;
}

.crimeTitle {
	color: #FAAD63;
	font-weight: bold;
	margin-bottom: 20px;
	margin-top: 20px;
	font-size: 130%;
}

.bolder {
	font-size: 160%;
}

.info {
	color: #22292F;
	margin-bottom: 5px;
}

.hom16, .burg16, .narc16, .all16, .dem16 {
	color: #B8C2CC;
	margin-left: 10px;
	margin-bottom: 5px;
	cursor: pointer;
	display: inline-block;
}

.hom16:hover, .burg16:hover, .narc16:hover, .all16:hover, .dem16:hover {
	color: #8795A1;
}

.hom05, .burg05, .narc05, .all05, .dem05 {
	color: #B8C2CC;
	display: inline-block;
	cursor: pointer;
}

.hom05:hover, .burg05:hover, .narc05:hover, .all05:hover, .dem05:hover {
	color: #8795A1;
}

.activeYear {
	color: #F6993F !important;
}

.narcInfo{
	display: inline;
    margin-right: 10px;
		color: white;
		margin-bottom: 5px;
		font-size: 80%;
}

.burgInfo{
	display: inline;
    margin-right: 10px;
		color: white;
		margin-bottom: 5px;
		font-size: 80%;
}

.homInfo{
	display: inline;
    margin-right: 10px;
		color: white;
		margin-bottom: 5px;
		font-size: 80%;
}

.narcInfo:hover, .burgInfo:hover, .homInfo:hover {
		text-decoration: underline;
}

.demSelect{
	background-color: #347B98;
    border: 0;
    color: white;
}

.leaflet-overlay-pane svg path{
    pointer-events: auto;
}

.no-show {
	display: none;
}

.dem16Layer {
	z-index: 1;
}

.leaflet-map-pane canvas {
	z-index: 9999;
}
